{% extends 'base.html' %}
{% block content %}
    <h3 style="text-align: center"> You searched for: '{{ search | title }}'</h3>
    <div class="container">
        <div class="row">
            {% for post in final_postings %}

                <div class="col s4">
                    <div class="card" style="height: 26.7vw">
                        <div class="card-image">
                            <a href="{{ post.0 }}"><img
                                    src="{{ post.2 }}"
                                    alt="" style="height: 15vw"></a>
                        </div>
                        <div class="card-content" style="overflow:scroll">
                            <p>{{ post.0 }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ post.1 }}">View listing Price {{ post.3 }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

